<div class="text-center">
  <div class="container py-5 col-6">
    
    <h2 class="mb-10 py-5" style="font-size:1.25rem">회원가입</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, :input_html => { :class => 'form-control' }, label: false,autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, :input_html => { :class => 'form-control' }, label: false %>
    </div>
  
    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, :input_html => { :class => 'form-control' }, label: false, autocomplete: "off" %>
    </div>
  
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  
    <div class="actions">
      <%= f.submit "회원가입", :class => 'btn btn-outline-primary' %>
      
    </div>
  </div>
</div>
<% end %>

<!--회원가입에 login 기능이 필요 없는 것 같아 주석처리-->
<!--<%= render "devise/shared/links" %> -->
<!--라벨 이름 바꾸고 싶을 때-->
<!--, "Mobile No:"-->