<div class="about-container">
  <div class="text-center container">
    <h1 class="about-title">만든 사람들</h1>
    <p class="about-title-content">2018년 아주대학교 대동제 페이지를 만든<br>
    멋쟁이사자처럼 회원들입니다.</p>
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4 about-content"> 
      <%= image_tag("sh.png", :class => "rounded-circle about-circle-img") %>
      <h2>장순호</h2>
      <!--과를 쓰는게 나을까-->
      <h5>아주대학교<br>멋쟁이 사자처럼 5기, 6기 대표</h5>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 about-content">
      <%= image_tag("hrk.png", :class => "rounded-circle about-circle-img") %>
      <h2>이형락</h2>
      <h5>아주대학교<br>멋쟁이 사자처럼 5기, 6기 운영진</h5>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 about-content">
      <%= image_tag("shm.png", :class => "rounded-circle about-circle-img") %>
      <h2>최성흠</h2>
      <h5>아주대학교<br>멋쟁이 사자처럼 5기, 6기 운영진</h5>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  
  
  <div class="row">
    <div class="col-lg-4 about-content">
      <%= image_tag("gr.png", :class => "rounded-circle about-circle-img") %>
      <h2>박규리</h2>
      <h5>아주대학교<br>멋쟁이 사자처럼 6기</h5>
    </div><!-- /.col-lg-4 -->
    
    <div class="col-lg-4 about-content">
      <%= image_tag("ma.png", :class => "rounded-circle about-circle-img") %>
      <h2>이민아</h2>
      <h5>아주대학교<br>멋쟁이 사자처럼 6기</h5>
    </div><!-- /.col-lg-4 -->
    
    <div class="col-lg-4 about-content">
      <%= image_tag("ych.png", :class => "rounded-circle about-circle-img") %>
      <h2>김예찬</h2>
      <h5>아주대학교<br>멋쟁이 사자처럼 6기</h5>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  
  
  <div class="row">
    <div class="col-lg-4 about-content">
      <%= image_tag("mk.png", :class => "rounded-circle about-circle-img") %>
      <h2>제민욱</h2>
      <h5>아주대학교<br>멋쟁이 사자처럼 6기</h5>
    </div><!-- /.col-lg-4 -->
    
    <div class="col-lg-4 about-content">
      <%= image_tag("hr.png", :class => "rounded-circle about-circle-img") %>
      <h2>위혜린</h2>
      <h5>아주대학교<br>멋쟁이 사자처럼 6기</h5>
    </div><!-- /.col-lg-4 -->
    
    <div class="col-lg-4 about-content">
      <%= image_tag("da.png", :class => "rounded-circle about-circle-img") %>
      <h2>정다안</h2>
      <h5>아주대학교<br>멋쟁이 사자처럼 6기</h5>
  
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  
  </div>  
</div>