<!---------------------------------------------랜덤 광고----------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<% random_ad = @pub2.shuffle %>
<% random_ad2 = [] %>

<%5.times do |i|%>
  <% random_ad2 << random_ad[i]%>
<%end%>
<!--현재 style로 크기 400 지정되있음-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 400px; margin: 0 auto">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="http://mblogthumb3.phinf.naver.net/MjAxNzAxMzBfMTA0/MDAxNDg1NzIxOTYzODYx.gyzm_OdgKz9yDcn2HdDM7F9JAUGYwwGGl1y9ybfgiE0g.vzm97mly_mCNk8VtHxgnqjZiDogUkHw4gi9NEfodhocg.PNG.first_seogu/%EC%B2%9C%EC%95%88%EB%AC%B8_%EC%A7%9C%EC%9E%A5%EB%A9%B4.png?type=w800" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h4><%=random_ad2[0].pubname%></h4>
        <p>광고 설명 1</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://gdimg.gmarket.co.kr/701013910/still/400?ver=0" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h4><%=random_ad2[1].pubname%></h4>
        <p>광고 설명 2</p>
      </div>        
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://jjalbang.today/jj1iN.jpg" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h4><%=random_ad2[2].pubname%></h4>
        <p>광고 설명 3</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!---------------------------------------------검색 기능----------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!--검색기능-->
<!--검색할 경우: 학과명 또는 주점이름 또는 detail을 검색하도록 해야겠지?-->

<div>
  <div class="pub-search">
    <div class="pub-search box">
      <p class="pub-search text">주점 찾기</p>
    </div>
    <div class="pub-search box">
      <%= search_form_for @q  do | f | %>
        <%= f.search_field :major_cont_any%>
        <%= f.submit%>
      <%end%>
    </div>
  </div>
</div>




<!---------------------------------------------버튼----------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!--%= button_to "23", @pub, remote: true %>-->
<!--%= button_to "24", @pub, remote: true %>-->
<!--%= button_to "25", @pub, remote: true %>-->
<!--%= button_to "23", action: "index", :params => { date: [1,4] }  %>-->
<!--왜 show가 불려지냐....-->


<div class="clicked_area" style="float:left;">
  <button onclick="myFunction()" class="btn1 btn-outline-primary">area</button>
  <div id="myclicked_area" class="clicked_area-content">
    <a class="btn btn1">Aarea</a>
    <a class="btn btn1">Barea</a>
    <a class="btn btn1">Carea</a>
    <a class="btn btn1">Darea</a>
    <a class="btn btn1">Entire</a>
  </div>
  
  
  <br/>
  
  
  <div class = "date" style="float:right;">
    <button type="button" class="btn btn2 btn-outline-primary">DATE 23</button>
    <button type="button" class="btn btn2 btn-outline-secondary">DATE 24</button>
    <button type="button" class="btn btn2 btn-outline-success">DATE 25</button>
  </div>
</div>










<!---------------------------------------------보여지는 카드----------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<tr>
      <%@pub.each do |x|%>
        <% if (x.date==1) && (x.map=='1' || x.map == '2' || x.map == '3') %>
        <div class="card date23A">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        <% elsif (x.date==1) && (x.map=='4' || x.map == '5' || x.map =='6')%>
        <div class="card date23B">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        <% elsif (x.date==1) && (x.map=='7' || x.map == '8' || x.map == '9')%>
        <div class="card date23C">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        <% elsif (x.date==1) && (x.map=='10' || x.map == '11' || x.map == '12')%>
        <div class="card date23D">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        
        
        
        <% elsif(x.date==2) && (x.map=='1' || x.map == '2' || x.map =='3')%>
        <div class="card date24A">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        <% elsif(x.date==2) && (x.map=='4' || x.map == '5' || x.map =='6')%>
        <div class="card date24B">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        <% elsif(x.date==2) && (x.map=='7' || x.map == '8' || x.map =='9')%>
        <div class="card date24C">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        <% elsif(x.date==2) && (x.map=='10' || x.map == '11' || x.map =='12')%>
        <div class="card date24D">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        
        
        <% elsif(x.date==3) && (x.map=='1' || x.map == '2' || x.map =='3')%>
        <div class="card date25A">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        <% elsif(x.date==3) && (x.map=='4' || x.map == '5' || x.map == '6')%>
        <div class="card date25B" style="width: 12rem;">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
      <% elsif(x.date==3) && (x.map=='7' || x.map == '8' || x.map =='9')%>
        <div class="card date25C">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
      <% elsif(x.date==3) && (x.map=='10' || x.map == '11' || x.map =='12')%>
        <div class="card date25D">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        
        <% elsif(x.date==4) && (x.map=='1' || x.map == '2' || x.map =='3')%>
        <div class="card date23_24A">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        <% elsif(x.date==4) && (x.map=='4' || x.map == '5' || x.map == '6')%>
        <div class="card date23_24B">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
      <% elsif(x.date==4) && (x.map=='7' || x.map == '8' || x.map =='9')%>
        <div class="card date23_24C">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
      <% elsif(x.date==4) && (x.map=='10' || x.map == '11' || x.map =='12')%>
        <div class="card date23_24D">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        
        
        <% elsif(x.date==5) && (x.map=='1' || x.map == '2' || x.map =='3')%>
        <div class="card date24_25A">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
        <% elsif(x.date==5) && (x.map=='4' || x.map == '5' || x.map == '6')%>
        <div class="card date24_25B">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
      <% elsif(x.date==5) && (x.map=='7' || x.map == '8' || x.map =='9')%>
        <div class="card date24_25C">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
      <% elsif(x.date==5) && (x.map=='10' || x.map == '11' || x.map =='12')%>
        <div class="card date24_25D">
          <img class="card-img-top" height="100px" src="<%=x.pubprice.url%>" alt="Card image cap">
          <div class="card-body">
            <br>
            <b class="card-title"><<<%=x.major%>>></b>
            <br>
            <b class="card-title"><%=x.pubname%></b>
            <br>
            <p class="card-text"><%=x.pub_detail%></p>
            <br>
          </div>
          <div class="card-body">
            <!--<button onclick="window.open('%=@pub[:map]%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Map</button>-->
            <button onclick="window.open('<%=x.pubpost.url%>','Details','width=430,height=500,location=no,status=no,scrollbars=yes, left = 10, top = 10');">Details</button>
          </div>
        </div>
    <%end%>    
    <%end%>
    
</tr>


<script>


  
// <!---------------------------------------------스크롤 시 페이징 처리----------------------------------------------------------------------------------------->  
// <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

  
    //스크롤 했을 경우 원하는 페이지로 이동. indexup으로 가고 싶은데 라우트상 /pubs/indexup/(.:format) 형식이 들어가야한다.
    $(window).scroll(function(e){ 
     d_height = $(document).height(); // 다큐멘트 크기
     w_height = $(window).height();  // 브라우저 크기
     s_height = d_height - w_height;
     d_top = $(document).scrollTop(); // 다큐멘트 최상위 좌표
     if ((s_height - d_top) < 1) {
             location.replace('/pubs');//페이징 처리 코드, 계속 오류가 떠서 우선 index페이지로 다시 이동하도록 만듬.
      }
    });
    
    
// <!---------------------------------------------이거 역활 뭐임?----------------------------------------------------------------------------------------->    
// <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    // 초기값 주어주기
    function myFunction() {
    document.getElementById("myclicked_area").classList.toggle("show");
    }
    
    window.onclick = function(event) {
      if (!event.target.matches('.btn1')) {

        var clicked_areas = document.getElementsByClassName("clicked_area-content");
        var i;
        for (i = 0; i < clicked_areas.length; i++) {
          var openclicked_area = clicked_areas[i];
          if (openclicked_area.classList.contains('show')) {
            openclicked_area.classList.remove('show');
          }
        }
      }
    }

// <!---------------------------------------------버튼에 따라서 .show 또는 .hide 처리----------------------------------------------------------------------------------------->
// <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    var clicked_area = 'E';
    var clicked_date = '';
    $('.btn').click(function(){
      var kind_btn = $(this).attr('class').split(' ')[1]
      
      if (kind_btn == 'btn1') {
        clicked_area = $(this).text().trim().charAt(0);
        $('.btn1.btn-outline-primary').text($(this).text().trim());
      }
      if (kind_btn == 'btn2') {
        clicked_date =  $(this).text().split(" ")[1].trim();
      }
      
      if (clicked_date == '23' && clicked_area == 'E') {
        console.log(clicked_area);
        console.log(clicked_date);
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').show();
        $('.date23B').show();
        $('.date23C').show();
        $('.date23D').show();
        $('.date23_24A').show();
        $('.date23_24B').show();
        $('.date23_24C').show();
        $('.date23_24D').show();
    }
     if (clicked_date == '23'&& clicked_area == 'A') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').show();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').show();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    if (clicked_date == '23'&& clicked_area == 'B') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').show();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').show();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    if (clicked_date == '23'&& clicked_area == 'C') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').show();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').show();
        $('.date23_24D').hide();
    }
         
    if (clicked_date == '23'&& clicked_area == 'D') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').show();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').show();
    }
    
    if (clicked_date == '24'&& clicked_area == 'E') {
        $('.date24A').show();
        $('.date24B').show();
        $('.date24C').show();
        $('.date24D').show();
        $('.date24_25A').show();
        $('.date24_25B').show();
        $('.date24_25C').show();
        $('.date24_25D').show();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').show();
        $('.date23_24B').show();
        $('.date23_24C').show();
        $('.date23_24D').show();
    }
     if (clicked_date == '24'&& clicked_area == 'A') {
        $('.date24A').show();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').show();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').show();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    if (clicked_date == '23'&& clicked_area == 'E') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').show();
        $('.date23B').show();
        $('.date23C').show();
        $('.date23D').show();
        $('.date23_24A').show();
        $('.date23_24B').show();
        $('.date23_24C').show();
        $('.date23_24D').show();
    }
    if (clicked_date == '23'&& clicked_area == 'A') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').show();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').show();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    if (clicked_date == '23'&& clicked_area == 'B') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').show();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').show();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    if (clicked_date == '23'&& clicked_area == 'C') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').show();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').show();
        $('.date23_24D').hide();
    }
         
    if (clicked_date == '23'&& clicked_area == 'D') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').show();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').show();
    }
    
        if (clicked_date == '24'&& clicked_area == 'E') {
        $('.date24A').show();
        $('.date24B').show();
        $('.date24C').show();
        $('.date24D').show();
        $('.date24_25A').show();
        $('.date24_25B').show();
        $('.date24_25C').show();
        $('.date24_25D').show();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').show();
        $('.date23_24B').show();
        $('.date23_24C').show();
        $('.date23_24D').show();
    }
    if (clicked_date == '24'&& clicked_area == 'A') {
        $('.date24A').show();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').show();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').show();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    if (clicked_date == '24'&& clicked_area == 'B') {
        $('.date24A').hide();
        $('.date24B').show();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').show();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').show();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    if (clicked_date == '24'&& clicked_area == 'C') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').show();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').show();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').show();
        $('.date23_24D').hide();
    }
         
    if (clicked_date == '24'&& clicked_area == 'D') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').show();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').show();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').show();
    }
    
    if (clicked_date == '25'&& clicked_area == 'E') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').show();
        $('.date24_25B').show();
        $('.date24_25C').show();
        $('.date24_25D').show();
        $('.date25A').show();
        $('.date25B').show();
        $('.date25C').show();
        $('.date25D').show();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    if (clicked_date == '25'&& clicked_area == 'A') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').show();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').show();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    if (clicked_date == '25'&& clicked_area == 'B') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').show();
        $('.date24_25C').hide();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').show();
        $('.date25C').hide();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    if (clicked_date == '25'&& clicked_area == 'C') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').show();
        $('.date24_25D').hide();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').show();
        $('.date25D').hide();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
         
    if (clicked_date == '25'&& clicked_area == 'D') {
        $('.date24A').hide();
        $('.date24B').hide();
        $('.date24C').hide();
        $('.date24D').hide();
        $('.date24_25A').hide();
        $('.date24_25B').hide();
        $('.date24_25C').hide();
        $('.date24_25D').show();
        $('.date25A').hide();
        $('.date25B').hide();
        $('.date25C').hide();
        $('.date25D').show();
        $('.date23A').hide();
        $('.date23B').hide();
        $('.date23C').hide();
        $('.date23D').hide();
        $('.date23_24A').hide();
        $('.date23_24B').hide();
        $('.date23_24C').hide();
        $('.date23_24D').hide();
    }
    });
    

</script>






<!---------------------------------------------scaffold 기본 기능 ----------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<%= link_to 'New Pub', new_pub_path%>
<%= link_to 'Edit', edit_pub_path(@pub)%>
<%= link_to 'Back', pubs_path %>

